{% extends 'userLayout.html.twig' %}

{% block title %}Graphique des métiers {{ parent() }}{% endblock %}

{% block body %}

    <section class="chart">
        <div class="container-fluid">
            <div class="row justify-content-center">

                <div id="jobChart" class="col-md-6 card bg-transparent border-0 "></div>
                <div id="countyChart" class="col-md-4 card bg-transparent border-0"></div>

            </div>
        </div>
    </section>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('highcharts') }}
    <script>
        {{ jobChart|raw }}
        {{ countyChart|raw }}
    </script>
{% endblock %}
