{% extends 'userLayout.html.twig' %}

{% block title %}Mon compte {{ parent() }}{% endblock %}

{% block body %}

    <section class="user-dashboard-section">

        <div class="container">

            <div class="card mb-3">
                <div class="card-header">
                    Profil
                </div>
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-4 profil-picture">
                        <img src="{{ asset('build/image_header_login_mobile.jpg') }}"
                             class="card-img rounded-circle mx-2 mx-md-4"
                             alt="photo de profil de {{ user.firstname ~ ' ' ~ user.lastname|upper }}">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title text-md-left text-center">{{ user.firstname ~ ' ' ~ user.lastname|upper }}</h5>
                            <p class="card-text"><img src="{{ asset('build/logo_email.png') }}">{{ user.email }}</p>
                            <p class="card-text"><img src="{{ asset('build/logo_county.png') }}">{{ user.county.name }}
                            </p>
                            <p class="card-text"><img
                                        src="{{ asset('build/logo_phone.png') }}">{{ user.phone ? user.phone : 'Non renseigné' }}
                            </p>
                            <p class="card-text"><img src="{{ asset('build/logo_enteredAt.png') }}">Membre
                                depuis {{ user.enteredAt|date("Y") }}</p>
                            <p class="card-text"><img
                                        src="{{ asset('build/logo_knightAt.png') }}">{% if user.knightedAt %}Adoubé en {{ user.knightedAt|date("Y") }}{% else %}Pas encore adoubé{% endif %}
                            </p>
                            <p class="card-text">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>

{% endblock %}
