<nav class="navbar navbar-expand-lg navbar-dark navbar-transparent fixed-top" id="navbar">
    <a href="{{ path('app_index') }}">
        <img class="logo-navbar"
             src="{{ asset('build/logo_royaume.png') }}"
             alt="logo de la ferme de la voliere">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarKingdom"
            aria-controls="navbarKingdom" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarKingdom">
        {% if is_granted('ROLE_ADMIN') %}
            <div class="navbar-nav">
                <a class="nav-item nav-link admin-link text-left" href="{{ path('easyadmin') }}">ADMINISTRATION</a>
            </div>
        {% endif %}
        <div class="navbar-nav py-0 ml-auto text-right">
            {% if not app.user %}
            <a class="nav-item nav-link mx-2 {% if app.request.attributes.get("_route") == 'app_login' %} active {% endif %}"
               href="{{ path('app_login') }}">SE CONNECTER</a>
            <a class="nav-item nav-link mx-2 {% if app.request.attributes.get("_route") == 'app_register' %} active {% endif %}"
               href="{{ path('app_register') }}">S'INSCRIRE</a>
            {% else %}
            <a class="nav-item nav-link mx-2 {% if app.request.attributes.get("_route") == 'document' %} active {% endif %}"
               href="{{ path('document') }}" >DOCUMENTS</a>
            <a class="nav-item nav-link mx-2 {% if app.request.attributes.get("_route") == 'user_listing' %} active {% endif %}"
               href="{{ path('user_listing', {'addWhat': 'nothing'}) }}">MEMBRES</a>
            <a class="nav-item nav-link py-auto {% if app.request.attributes.get("_route") == 'user_dashboard' %} active {% endif %}"
               href="{{ path('user_dashboard') }}">
                <i class="fas fa-user-circle"></i>
            </a>
            <a class="nav-item nav-link py-auto" href="{{ path('app_logout') }}">
                <i class="fas fa-sign-out-alt"></i>
            </a>
        </div>
        {% endif %}
    </div>
</nav>