{% extends 'userLayout.html.twig' %}

{% block title %}Documents {{ parent() }}{% endblock %}

{% block body %}

    <section class="document-section">
        <div class="container-fluid">

            <div class="row mx-auto justify-content-center">

                {% for document in documents %}

                    <div class="card card-document mx-2 my-2">
                        <h5 class="card-header">
                            {% if document.fileName|length > 25 %}
                                {{ document.fileName [:25] ~ '...'}}
                            {% else %}
                                {{ document.fileName }}
                            {% endif %}
                        </h5>
                        <div class="card-body pb-0">
                            <img src="{{ document.fileMimeType == 'application/pdf' ? asset('build/logo_pdf.png') : vich_uploader_asset(document, 'file') }}"
                                 class="card-img-top"
                                 alt="{{ document.fileName }}">
                            <p class="text-center text-muted mt-3">{{ document.fileSize|number_format(2) }}Ko</p>
                        </div>
                        <div class="card-footer text-muted">
                            <a href="documents/{{ document.fileName }}" target="_blank"
                               class="btn btn-form text-center">Voir</a>
                        </div>
                    </div>
                {% endfor %}

            </div>

        </div>
    </section>

{% endblock %}
