{% extends 'userLayout.html.twig' %}

{% block title %}Mon compte {{ parent() }}{% endblock %}

{% block body %}

    <section class="user-dashboard-section">

        <div class="container-fluid">

            <div class="row mx-auto justify-content-center">

                <div class="col-lg-6">
                    <div class="card card-profile mb-5">
                        <h3 class="card-header">
                            Mon profil
                            <a data-toggle="tooltip"
                               data-placement="right"
                               title=" Éditer son profil "
                               href="{{ path('user_edit', {'id': user.id}) }}">
                                <i class="fas fa-edit float-right"></i>
                            </a>
                        </h3>
                        <div class="row align-items-center justify-content-center">
                            <div class="col-md-3 profil-picture">
                                <img src="{% if user.imageName %}{{ vich_uploader_asset(user, 'imageFile') }}{% else %}{{ asset('build/image_profile_default.jpg') }}{% endif %}"
                                     class="card-img rounded-circle mx-5 mt-4 my-md-0 mx-md-4"
                                     alt="photo de profil de {{ user.firstname ~ ' ' ~ user.lastname|upper }}">
                            </div>
                            <div class="col-md-9">
                                <div class="card-body">
                                    <h5 class="card-title text-md-left text-center">
                                        {{ user.firstname ~ ' ' ~ user.lastname }}
                                        {{ user.gender.name == 'Homme' ? '<i class="fas fa-mars gender"></i>' : '<i class="fas fa-venus gender"></i>' }}
                                    </h5>
                                    <p class="card-text ml-md-5 ml-0"><img
                                                src="{{ asset('build/logo_email.png') }}">{{ user.email }}</p>
                                    <p class="card-text ml-md-5 ml-0"><img
                                                src="{{ asset('build/logo_county.png') }}">{{ user.county.name }}
                                    </p>
                                    <p class="card-text ml-md-5 ml-0"><img
                                                src="{{ asset('build/logo_phone.png') }}">{{ user.phone ? user.phone : 'Non renseigné' }}
                                    </p>
                                    <p class="card-text ml-md-5 ml-0"><img
                                                src="{{ asset('build/logo_enteredAt.png') }}">Membre
                                        depuis {{ user.enteredAt|date("Y") }}</p>
                                    <p class="card-text ml-md-5 ml-0"><img
                                                src="{{ asset('build/logo_knightAt.png') }}">{% if user.knightedAt %}Adoubé en {{ user.knightedAt|date("Y") }}{% else %}Pas encore adoubé{% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5">
                    <div class="card card-buddy mx-auto mb-5">
                        <div class="card-header">Mon parrain</div>
                        <div class="row align-items-center justify-content-center">
                            {% if buddy %}
                                <div class="col-md-3 profil-picture">
                                    <img src="{% if buddy.imageName %}{{ vich_uploader_asset(buddy, 'imageFile') }}{% else %}{{ asset('build/image_profile_default.jpg') }}{% endif %}"
                                         class="card-img rounded-circle mx-5 mt-4 my-md-0 mx-md-4"
                                         alt="photo de profil de {{ buddy.firstname ~ ' ' ~ buddy.lastname|upper }}">
                                </div>
                                <div class="col-md-9">
                                    <div class="card-body">
                                        <h5 class="card-title text-md-left text-center">{{ buddy.firstname ~ ' ' ~ buddy.lastname }}</h5>
                                        <p class="card-text ml-md-5 ml-0"><img
                                                    src="{{ asset('build/logo_email.png') }}">{{ buddy.email }}</p>
                                        <p class="card-text ml-md-5 ml-0"><img
                                                    src="{{ asset('build/logo_county.png') }}">{{ buddy.county.name }}
                                        </p>
                                        <p class="card-text ml-md-5 ml-0"><img
                                                    src="{{ asset('build/logo_phone.png') }}">{{ buddy.phone ? buddy.phone : 'Non renseigné' }}
                                        </p>
                                        <p class="card-text ml-md-5 ml-0"><img
                                                    src="{{ asset('build/logo_enteredAt.png') }}">Membre
                                            depuis {{ buddy.enteredAt|date("Y") }}</p>
                                        <p class="card-text ml-md-5 ml-0"><img
                                                    src="{{ asset('build/logo_knightAt.png') }}">{% if buddy.knightedAt %}Adoubé en {{ buddy.knightedAt|date("Y") }}{% else %}Pas encore adoubé{% endif %}
                                        </p>
                                    </div>
                                </div>
                            {% else %}
                                Aucun parrain
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="card card-trade mb-5">
                        <h3 class="card-header">
                            Mes Métiers
                            <a data-toggle="tooltip"
                               data-placement="right"
                               title=" Modifier mes métiers "
                               href="{{ path('user_jobs_edit', {'id': user.id}) }}">
                                <i class="fas fa-edit float-right"></i>
                            </a>
                        </h3>
                        <div class="card-body">
                            {% if jobs %}
                                <ul>
                                    {% for job in jobs %}

                                        {% if not job.trade %}
                                            {% set trade = 'Aucun corps de métier' %}
                                        {% endif %}
                                        {% if loop.index == 1 %}
                                            {% set trade = job.trade.name %}
                                            <h5 class="card-title mt-3">
                                                <img src="{% if job.trade.imageName %}
                                                                {{ vich_uploader_asset(job.trade, 'imageFile') }}
                                                            {% else %}
                                                                {{ asset('build/logo_royaume.png') }}
                                                            {% endif %}"
                                                     alt="{{ trade }}">{{ trade }}
                                            </h5>
                                        {% endif %}
                                        {% if job.trade.name != trade %}
                                            {% set trade = job.trade.name %}
                                            <h5 class="card-title mt-3">
                                                <img src="{% if job.trade.imageName %}
                                                                {{ vich_uploader_asset(job.trade, 'imageFile') }}
                                                            {% else %}
                                                                {{ asset('build/logo_royaume.png') }}
                                                            {% endif %}"
                                                     alt="{{ trade }}">{{ trade }}
                                            </h5>
                                        {% endif %}
                                        <li class="card-text">{{ job.name }}</li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                Aucun métier
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="col-lg-5">
                    <div class="card card-godchild mx-auto mb-5">
                        <div class="card-header">
                            Mes filleuls
                            <a data-toggle="tooltip"
                               data-placement="right"
                               title=" Ajouter un filleul "
                               href="{{ path('user_listing') }}">
                                <i class="fas fa-plus-circle float-right"></i>
                            </a>
                        </div>
                        <div class="row align-items-center justify-content-center">
                            {% if godChildren is not empty %}
                                {% for godchild in godChildren %}
                                    <div class="col-md-3 profil-picture">
                                        <img src="{% if godchild.imageName %}{{ vich_uploader_asset(godchild, 'imageFile') }}{% else %}{{ asset('build/image_profile_default.jpg') }}{% endif %}"
                                             class="card-img rounded-circle mx-5 mt-4 my-md-0 mx-md-4"
                                             alt="photo de profil de {{ godchild.firstname ~ ' ' ~ godchild.lastname|upper }}">
                                    </div>
                                    <div class="col-md-9">
                                        <div class="card-body {% if loop.index < godChildren|length %}godchildNext{% endif %}">
                                            <h5 class="card-title text-md-left text-center">{{ godchild.firstname ~ ' ' ~ godchild.lastname }}</h5>
                                            <form method="post"
                                                  action="{{ path('godchild_delete', {'id': godchild.id}) }}"
                                                  onsubmit="return confirm('Voulez-vous supprimer {{ godchild.firstname ~ ' ' ~ godchild.lastname }} de vos filleuls ?');">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <input type="hidden" name="_token"
                                                       value="{{ csrf_token('delete' ~ godchild.id) }}">
                                                <button class="btn my-auto float-right"
                                                        data-toggle="tooltip"
                                                        data-placement="right"
                                                        title=" Supprimer de vos filleul ">
                                                    <i class="fas fa-trash-alt float-right"></i>
                                                </button>
                                            </form>
                                            <p class="card-text ml-md-5 ml-0"><img
                                                        src="{{ asset('build/logo_email.png') }}">{{ godchild.email }}
                                            </p>
                                            <p class="card-text ml-md-5 ml-0"><img
                                                        src="{{ asset('build/logo_county.png') }}">{{ godchild.county.name }}
                                            </p>
                                            <p class="card-text ml-md-5 ml-0"><img
                                                        src="{{ asset('build/logo_phone.png') }}">{{ godchild.phone ? godchild.phone : 'Non renseigné' }}
                                            </p>
                                            <p class="card-text ml-md-5 ml-0"><img
                                                        src="{{ asset('build/logo_enteredAt.png') }}">Membre
                                                depuis {{ godchild.enteredAt|date("Y") }}</p>
                                            <p class="card-text ml-md-5 ml-0"><img
                                                        src="{{ asset('build/logo_knightAt.png') }}">{% if godchild.knightedAt %}Adoubé en {{ godchild.knightedAt|date("Y") }}{% else %}Pas encore adoubé{% endif %}
                                            </p>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <p class="py-4">Aucun filleul</p>
                            {% endif %}

                        </div>
                    </div>
                </div>


            </div>
        </div>

    </section>

{% endblock %}
